<html>
<head>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">
    <script
        src="{{ url_for('static', filename='21.5.js') }}">
    </script>
</head>
<body class=" bg_yellow">
<div class="title"><h3>Magic Install</h3></div>
    <a class = "arial" href="acasa">Acasa</a><br/>
    <a class = "arial" href="portofoliu">Portofoliu</a><br/>
    <a class = "arial" href="contact">Contact</a><br/>
    <hr/>
    {% block content %}{% endblock %}
</body>
</html>