{% extends "layouts/layout.html" %}
{% block content %}
    <div>
        <!-- <h3>Magic Install</h3>-->
        <h6>Peste 18 de ani de experienta!</h6>
    </div>

    <div >
        <hr class="new">
        <p class="big">Incepand din anul 2004 SC Magic Install SRL activeaza in domeniul retelelor edilitare, fiind autorizata ANRE si ISCIR pentru proiectarea si executia instalatiilor de gaze, termice, instalatii sanitare, bransamente de apa si canalizare.</p>
        <p class="big">Inca de la infintarea am fost preocupati de realizarea unor lucrari de calitate, acest lucru fiind recunoscut si prin certificatele de managementul calitatii ISO9001. </p>
        <p class="big">Calitatea, profesionalismul, rapiditatea, seriozitatea si nu in ultimul rand preturile accesibile reprezinta baza fundamentala a firmei noastre, astfel incat dumneavoastra,clientii nostrii, sa fiti multumiti de serviciile noastre, precum si de colaborarea cu societatea noastra.</p>
        <p class="big">Experienta echipei noastre, dublata de solicitudine si profesionalism, a constituit in timp o carte de vizita solida.</p>
        <p class="big">Echipa profesionista, tanara dinamica, deschisa si temeinic pregatita in domeniul instalatiilor, va sta la dispozitie pentru a va pune in practica cele mai diverse dorinte si necesitati, cu respectarea standardelor, normelor si a legislatiei in vigoare.</p>
        <p class="big">Clientii nostri beneficiaza de solutii complete de la un singur furnizor, solutii ce înglobeaza proiectarea, furnizarea echipamentelor, montajul si punerea în functiune.</p>
        <p class="big">In acest context, daca doriti sa apelati la serviciile noastre nu ezitati sa ne contactati.</p>
    </div>
{% endblock content %}
