{% extends "layouts/layout.html" %}
{% block content %}
    <H2>Portofoliu</H2>
    <table>
        <tr>
            <td align="left" valign="top">
            <img src="/static/pic1.jpeg" width=200px height=200px>
                <hr>
            </td>
            <td align="left" valign="top" colspan=2>
            <p>Proiect instalatie termica realizat in anul 2019 </p>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top">
            <img src="/static/pic2.jpeg" width=200px height=200px>
                <hr>
            </td>
            <td align="left" valign="top">
            <p>Proiect instalatie termica realizat in anul 2020</p>
            </td>
        </tr>
            <td align="left" valign="top">
            <img src="/static/pic3.jpeg" width=200px height=200px>
                <hr>
            </td>
            <td align="left" valign="top">
            <p>Inca un proiect :)</p>
            </td>
        </tr>

    </table>
{% endblock content %}