h3 {
    font-size: 30px;
    line-height: 35px;
    font-family: Arial;

    font-style: bold;
    margin-bottom: 25px;
    color: #00308F;
   }
h6 {
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
    margin-bottom: 25px;
    color: #FF7F50;
   }

div {
    width: 50%;
    }

.bg_yellow {
        background-color: #FFFFE0;
        }

hr.new {
       border: 1px dashed #00308F;
       }

p {
    font-family: Helvetica;

}